<h4 class="text-center">Help</h4>
<p class="text-center font-medium">
  Ask for help in our <a href="https://github.com/CodeChica/plus-plus/discussions">discussion forum</a> or in <a href="https://codechica-plus-plus.slack.com/">Slack</a> and we’ll help you sort it out.
</p>

<h4 class="text-center">Links</h4>
<ul class="navigation">
  <li><a href="https://github.com/CodeChica/SparkleHub">SparkleHub</a></li>
  <li><a href="https://github.com/CodeChica/plus-plus">Plus Plus</a></li>
  <li><a href="https://github.com/CodeChica/plus-plus/issues/choose)">Issues</a></li>
  <li><a href="https://github.com/issues/assigned">My Issues</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLaZatV79bZCRtD6yCw-goNH5Keh8ovMQp">Videos</a></li>
</ul>
