<h4>Homework</h4>
<ul>
  <li><a href="https://github.com/signup">Create GitHub Account</a></li>
  <li><a href="https://code.visualstudio.com/Download">Install VSCode</a></li>
  <li><a href="https://slack.com/downloads/">Install Slack</a></li>
  <li><a href="https://zoom.us/">Install Zoom</a></li>
</ul>


<h4>Links</h4>
<ul>
  <li><a href="https://github.com/CodeChica/SparkleHub">SparkleHub</a></li>
  <li><a href="https://github.com/CodeChica/plus-plus">Plus Plus</a></li>
  <li><a href="https://github.com/CodeChica/plus-plus/issues/choose)">Issues</a></li>
  <li><a href="https://github.com/issues/assigned">My Issues</a></li>
  <li><a href="https://www.youtube.com/playlist?list=PLaZatV79bZCRtD6yCw-goNH5Keh8ovMQp">Videos</a></li>
</ul>

<h4>Help!</h4>
<p class="text-center font-medium">
  Ask a question in our <a href="https://github.com/CodeChica/plus-plus/discussions">discussion forum</a> or ask for help in <a href="https://codechica-plus-plus.slack.com/">Slack</a> and we’ll help you sort it out.
</p>
