html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: sans-serif;
  color: #333447;
  line-height: 1.5;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.375rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

blockquote { font-style: italic; }
ol { list-style: decimal-leading-zero; }
strong { font-weight: bold; }
pre {
  font-family: monospace;
  font-size: 14pt;
  line-height: 1.0;
}
pre code {
  font-family: monospace;
}
p code { font-style: italic; }

p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.8;
}
li {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.8;
}

img {
  width: 100%;
  border-radius: 2%;
}

table {
  width: 100%;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
@media only screen and (min-width: 33.75em) { .container { width: 80%; } }
@media only screen and (min-width: 45em) {
  .col-1 { width: 4.33%; }
  .col-2 { width: 12.66%; }
  .col-3 { width: 21%; }
  .col-4 { width: 29.33%; }
  .col-5 { width: 37.66%; }
  .col-6 { width: 46%; }
  .col-7 { width: 54.33%; }
  .col-8 { width: 62.66%; }
  .col-9 { width: 71%; }
  .col-10 { width: 79.33%; }
  .col-11 { width: 87.66%; }
  .col-12 { width: 96%; }
}
@media only screen and (min-width: 60em) { .container { width: 75%; max-width: 60rem; } }

.block { display: block; }
.font-heavy { font-weight: 700; }
.font-light { font-weight: 300; }
.font-regular { font-weight: 400; }
.font-small { font-size: small; }
.font-medium { font-size: medium; }
.font-xsmall { font-size: x-small; }
.link { text-decoration: none; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

ul.navigation {
  padding: 0;
  text-align: center;
  list-style: none;
}
ul.navigation li {
  display: block;
  line-height: 2.0;
}
ul.navigation li a {
  text-decoration: none;
}
ul.learn-navigation {
  column-count: 2;
  padding: 0;
  text-align: center;
  list-style: none;
}
ul.learn-navigation li a {
  text-decoration: none;
}
img.logo {
  width: 50%;
}
