
<div class="d-flex flex-column flex-items-start js-flash-messages">
  <% if flash[:sparkle_messages] %>
    <div class="flash flash-success col-12 d-flex flex-column flex-justify-start flex-content-stretch my-4" data-flash-notice>
      <% flash[:sparkle_messages].each do |message| %>
        <%= content_tag(:p, message) %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="pagehead">
  <h1 class="f2">Recent sparkles</h1>
</div>

<div class="col-12 d-flex flex-column flex-justify-start flex-content-stretch mt-4 js-sparkle-list-container">
  <% if sparkles.any? %>
    <%= render sparkles %>
    <%= render "shared/pagination", collection: sparkles %>
  <% else %>
    <div class="blankslate">
      <h3 class="mb-1">No sparkles yet.</h3>
    </div>
  <% end %>
</div>
