@import "variables/colours.scss";
@import "@primer/css/alerts/index.scss";
@import "@primer/css/avatars/index.scss";
@import "@primer/css/blankslate/index.scss";
@import "@primer/css/core/index.scss";
@import "@primer/css/dropdown/index.scss";
@import "@primer/css/forms/index.scss";
@import "@primer/css/header/index.scss";
@import "@primer/css/labels/index.scss";
@import "@primer/css/layout/grid.scss";
@import "@primer/css/popover/index.scss";
@import "@primer/css/support/index.scss";
@import "@primer/css/timeline/index.scss";
@import "@primer/css/utilities/index.scss";
@import "@primer/octicons/index.scss";
@import "sparkles/header.scss";

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: $font-weight-normal;
  src: url("../fonts/Alliance-No-1-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1";
  font-style: italic;
  font-weight: $font-weight-normal;
  src: url("../fonts/Alliance-No-1-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: $font-weight-semibold;
  src: url("../fonts/Alliance-No-1-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Alliance No.1";
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url("../fonts/Alliance-No-1-Bold.woff") format("woff");
  font-display: swap;
}
