name: Continuous Integration
on:
  - push
  - workflow_dispatch
jobs:
  lab-nodejs-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
          cache-dependency-path: labs/nodejs/package-lock.json
      - run: cd labs/nodejs && npm install && npm run test
  lab-golang-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: cd labs/golang && go test -v ./...
